<div *ngIf="!ship" class="fixed-top d-flex justify-content-center p-3 text-white">
  Loading...
</div>
<div *ngIf="ship" class="fixed-top d-flex justify-content-between p-3 text-white">
  <div class="col text-start">coordinates: ({{ship.x | number:'1.0-0'}}, {{ship.y | number:'1.0-0'}})</div>
  <div class="col text-center">speed: {{ship.body.speed | number:'1.0-0'}}</div>
  <div class="col d-flex"><span class="ms-auto me-2">health:</span><span style="width: 150px;"><p-progressBar [value]="ship.health"></p-progressBar></span></div>
</div>

<div style="height: 100vh; width: 100vw;">
  <canvas #canvas></canvas>
</div>

<p-dialog header="Stardust - The Game" [(visible)]="dialogVisible" [modal]="true" [draggable]="false" [resizable]="false" [style]="{ 'max-width': '500px' }">
  <p>
    Welcome Commander!
  </p>
  <p>
    It's time to begin your first mission.
  </p>
  <p>
    Find a nearby star outpost - Will Port, fly there and dock there safely.
    Use arrow keys to control the ship.
    You will find the outpost using the following coords (720, 2100).
    You can inspect your current position in the top left corner of the screen.
  </p>
  <p>
    Be careful though, your hull is very fregile. Fly safe.
  </p>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="dialogVisible=false" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
